


* {
  box-sizing: border-box;
 
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color:#32aeb1;
  color: white;
  
}

#img{
  width: 120px;
  height: 70px;
  margin-left: 150px;
  border-radius: 10px;

}

.navbar-links {
  height: 80%;
}

.navbar-links-two{
  height: 100%;
}


.navbar-links ul {
  display: flex;
  /* margin-left: 60px; */
  padding: 0;
}



.navbar-links-two ul {
  display: flex;
  margin-left: 500px;
  padding: 0;
}



.navbar-links li {
  list-style: none;
  
}
.navbar-links-two li{
  list-style: none;

}




.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;

}

.navbar-links-two li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;


}




#input{
  padding: 15px;
  width: 800px;
  margin-left: -1000px;
  border-radius: 10px;
  border: none;
}



.navbar-links li:hover {
  background-color: teal;
}
.navbar-links-two li:hover{
  background-color: teal;
}



.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-left: 800px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


.toggle-button-two {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-left: 800px;
}

.toggle-button-two .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


#page_link{
border: transparent;
width: 70%;
margin: auto;
background-color: #f3f7fb;
padding: 10px;

}

#page{
  display: flex;
  justify-content: space-evenly;

}

#page>div a{
  font-size: 16px;
  color: gray;
  text-decoration: none;
  cursor: pointer;

}
#page>div a:hover{
color: teal;
}


/* Media Queries for medium screen */

@media all and (min-width:480px) and (max-width:720px){
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .toggle-button-two {
    display: flex;
}



  .navbar-links {
      display: none;
      width: 100%;
  }
  .navbar-links-two {
    display: none;
    width: 100%;
}


  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links-two ul {
    width: 100%;
    flex-direction: column;
}


  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links-two ul li {
    text-align: center;
}

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links-two ul li a {
    padding: .5rem 1rem;
}



.navbar-links.active {
      display: flex;
  }

  .navbar-links-two.active {
    display: flex;
}
#input{
    padding: 5px;
    width: 60px;
    margin-left: 0px;
    border-radius: 10px;
    border: none;
    /* display: none; */
  }


  #img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
  
  }

  #page_link{width: 100%; 
    padding: 5px;
  }
    
#page>div a{
      font-size: 12px;
      color: gray;
      text-decoration: none;
    
    }

#page{
        display: flex;
        justify-content: space-evenly;
      
      }
      
   


}



@media all and (min-width:320px) and (max-width:479px){
  .navbar {
    flex-direction: column;
    align-items: flex-start;
}

.toggle-button {
    display: flex;
}

.toggle-button-two {
  display: flex;
}



.navbar-links {
    display: none;
    width: 100%;
}
.navbar-links-two {
  display: none;
  width: 100%;
}




.navbar-links ul {
    width: 100%;
    flex-direction: column;
}

.navbar-links-two ul {
  width: 100%;
  flex-direction: column;
}

.navbar-links ul li {
    text-align: center;
}
.navbar-links-two ul li {
  text-align: center;
}

.navbar-links ul li a {
    padding: .5rem 1rem;
}

.navbar-links-two ul li a {
  padding: .5rem 1rem;
}


.navbar-links.active {
    display: flex;
}


.navbar-links-two.active {
  display: flex;
}

#page_link{width: 100%; 
  padding: 2px;
}
  
#page>div a{
    font-size: 8px;
    color: gray;
    text-decoration: none;
  
  }

#page{
      display: flex;
      justify-content: space-evenly;
    
    }
    





}
