*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: 
    #f3f3f3;
}

#container{
    width:100%;
    display: flex;
    

}

/* #first-container{
    width:20%;
    border:1px solid black;
    height:auto;
    margin-right:15px;

} */

#second-container{
    width:100%;
    /* border:1px solid red; */
    height:auto;
}

.heading {
    background-color: white;
}

#second-container>{
    width:100%;
  
    border-radius: 10px;
}

.heading>img{
   display: block;
   margin: auto;
}

.multiple-div {
    display: flex;
    width:100%;
    padding:12px;
    /* border:1px solid red; */
}

.multiple-div > div {
    width:10%;
    border: 1px solid black;
    margin-left:10px;
    background-color: white;
    border-radius: 10px;
    padding:25px 10px;

}

.multiple-div > div >img {
    width:50%;
    display: block;
    margin:auto;
}
.category >h3 {
    background-color: white;
    margin:10px 3px;
}

.category {
    margin-top:20px;
    background-color: white;
    padding:10px 40px 5px 5px;


}

.category > span {
    position: absolute;
    top:80px;
    position: relative;
}

.multiple-div > div >p{
    text-align: center;
    font-family: Lato;
    font-size:11px;
    line-height: 16.5px;
    text-transform: capitalize;
    color:#151B39;
}

#product-page {
    margin-top:70px;
    margin-bottom:10px;
    text-align: right;
}


#product-page > button {
    padding:5px 20px 4px 20px;
    font-family: Lato;
    font-size: 15px;
    background-color: white;
    border:none;
    border-radius: 5px;
}


#product-page > button:hover {
    border:1px solid #24AEB1;
    color:#24AEB1;

}


#product-page-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 350px;
    gap:15px;
    background-color: white;
   

}

#product-filter-page-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 350px;
    gap:15px;
    background-color: white;
   

}

#product-page-container>div {
    border:1px solid gray;
    border-radius: 5px;
    padding:10px;
}

#product-filter-page-container>div {
    border:1px solid gray;
    border-radius: 5px;
    padding:10px;
}

#product-page-container>div >img {
    display: block;
    margin:auto;
}

#product-filter-page-container>div >img {
    display: block;
    margin:auto;
}

#product-page-container>div>span {
    font-family: LatoBold;
    font-size: 15px;
    line-height: 21px;
    color:#151B39;
    font-weight: 900;
    box-sizing: border-box;
    
}

#product-filter-page-container>div>span {
    font-family: LatoBold;
    font-size: 15px;
    line-height: 21px;
    color:#151B39;
    font-weight: 900;
    box-sizing: border-box;
    
}
#product-page-container>div>p{
    font-family: Lato;
    font-size: 13px;
    font-style: italic;
    line-height: 16px;
    color:#6F7284;
    margin-top:15px;
    margin-bottom: 8px;;
}

#product-filter-page-container>div>p{
    font-family: Lato;
    font-size: 13px;
    font-style: italic;
    line-height: 16px;
    color:#6F7284;
    margin-top:15px;
    margin-bottom: 8px;;
}

#product-filter-page-container>div>p{
    font-family: Lato;
    font-size: 13px;
    font-style: italic;
    line-height: 16px;
    color:#6F7284;
    margin-top:15px;
    margin-bottom: 8px;;
}

#product-page-container>div >button {
    width:100%;
    background-color: #24aeb1;
    padding:12px 0px;
    border:none;
    border-radius: 5px;
    
}

#product-filter-page-container>div >button {
    width:100%;
    background-color: #24aeb1;
    padding:12px 0px;
    border:none;
    border-radius: 5px;
    
}


.pagination{
    text-align: center;
    margin-top:20px;
   
}

.pagination > span {
    margin-left:20px;
}

.pagination > button {
    padding:10px 25px;
    border:none;
    text-transform: uppercase;
    background-color: white;
    border:1px solid gray;
    margin-left:20px;
    border-radius: 5px;
}

#p-page {
    padding:2%;
    background-color: white;
}

#p-filter-page {
    padding:2%;
    background-color: white;
    margin-top:15px;
}

#p-page>h3 {
    margin-bottom:10px;
}



#product-filter-page > button {
    padding:5px 20px 4px 20px;
    font-family: Lato;
    font-size: 12px;
    line-height: 18px;
    background-color: white;
    /* border:none; */
    border-radius: 5px;
    border-color:white;
    margin-top: 10px;
}

#product-filter-page>p {
    margin-top:30px;
    margin-bottom:10px;
    font-family: LatoBold;
    font-size: 15px;
    line-height: 20px;
    color:gray;
    box-shadow: none;

}